.app {
  margin: 0;
  display: grid;
  place-items: center;
}

main {
  border: solid 1px black;
  width: 500px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 0 black;
}

button {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.416);
  margin-left: 5px;
}

small{
  border: solid 1px red;
  padding: 2px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.156);
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}